* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
label {
  font-family: "Montserrat", sans-serif;
}

/* Logo */
.logo {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  color: #5a2f57;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 25px 0;
  padding-left: 5%;
  padding-right: 5%;
}

/* Button */
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border-style: solid;
  border-color: #5a2f57;
  color: #5a2f57;
  background: none;
  transition: 0.15s;
  margin: 5px 10px;
}

button:hover {
  background-color: #5a2f57;
  transition: 0.3s;
  color: white;
}

.cta {
  background: #5a2f57;
  color: white;
  border-color: #5a2f57;
}

.container {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}

.img-cover {
  width: 100%;
  height: 10%;
  border-radius: 20px;
  filter: brightness(50%);
}

.container-profile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-profile {
  border-radius: 100%;
}

.name {
  margin: 0px 0px 0px 40px;
  color: white;
  font-size: 35px;
}

.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
  width: 35%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  border: solid;
  border-color: #5a2f57;
  padding: 10px;
}

.img-card {
  border-radius: 15px;
  margin: 10px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 17px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title {
  margin-bottom: 10px;
}

.card-category {
  border-radius: 10px;
  background-color: #5a2f57;
  color: white;
  padding: 6px 7px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0 0 0;
  padding: 20px 5% 20px 5%;
  background-color: #5a2f57;
  color: white;
}

.login-bg {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.login-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebebeb;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(left, #ff4e4e, #a61e50);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #ebebeb;
  border: none;
  outline: none;
  padding-top: 14px;
}
