:root {
  --warnaungu: #4b2648;
  --warnaoren: #ef8c33;
  --warnaputih: #ffff;
  --warnaabu: #d9d9d9;
}
/* All */
* {
  font-family: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
  padding-right: 115px;
  padding-left: 115px;
}

.navbar a {
  color: var(--warnaungu);
  text-decoration: none;
  font-weight: 800;
  font-size: 50px;
}

.navbar span {
  color: var(--warnaoren);
}

/* Button nav*/
.button button {
  font-size: 20px;
  border: solid 2px #4b2648;
  border-radius: 20px;
  padding: 0px 35px 0px 35px;
  color: #4b2648;
}

.button button:hover {
  background-color: #4b2648;
  color: var(--warnaputih);
}

/* Navbar Line */
.line hr {
  margin-top: 0px;
  border: solid 1px var(--warnaungu);
  width: 90%;
}

.line {
  display: flex;
  justify-content: center;
}

/* Article that you liked */
.article-text {
  font-weight: 700;
  color: var(--warnaungu);
  text-align: center;
}

/* Search */

