:root {
    ungu : #4B2648;
    oren : #EF8C33;
}

.button {
  font-size: 20px;
  border: solid 2px #4b2648;
  border-radius: 20px;
  padding: 2px 15px 2px 15px;
  color: #4b2648;
}

.button:hover {
  background-color: #4b2648;
  color: white;
}

