:root {
    --warnaungu: #4b2648;
    --warnaoren: #ef8c33;
    --warnaputih: #ffff;
    --warnaabu: #d9d9d9;
  }
  /* All */
  * {
    font-family: "Montserrat", sans-serif;
  }
  
  /* Logo */
  .logo {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    color: #5a2f57;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 25px 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    background-color: var(--warnaputih);
  }
  
  .navbar a {
    text-decoration: none;
  }
  /* Button */
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 20px;
    border-style: solid;
    border-color: #5a2f57;
    color: #5a2f57;
    background: none;
    transition: 0.15s;
    margin: 5px 10px;
  }
  
  button:hover {
    background-color: #5a2f57;
    transition: 0.3s;
    color: white;
  }
  
  .cta {
    background: #5a2f57;
    color: white;
    border-color: #5a2f57;
  }
  
  /* Search Button */
  #search {
    font-size: 20px;
    border: solid 2px var(--warnaoren);
    background-color: var(--warnaoren);
    border-radius: 20px;
    padding: 0px 35px 0px 35px;
    color: var(--warnaputih);
  }
  
  #search:hover {
    background-color: var(--warnaputih);
    color: var(--warnaoren);
  }
  
  /* Welcome To KnowPedia */
  .container {
    display: flex;
    justify-content: center;
    height: 350px;
    border-radius: 10px;
    font-weight: 800;
    color: var(--warnaputih);
    background-image: url(https://blondeartbooks.files.wordpress.com/2012/08/dsc_8914.jpg);
  }
  
  .container p {
    text-align: center;
    padding-top: 125px;
    font-size: 50px;
  }
  
  /* Main Artcile Text */
  .main-article {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .main-article h1 {
    font-size: 35px;
    font-weight: 700;
    color: var(--warnaungu);
  }
  /* Main Article Box */
  .main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  /* Main Article Box Left */
  .main-box-left {
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: solid var(--warnaungu) 2px;
    height: 450px;
    width: 500px;
  }
  
  .main-box-left img {
    opacity: 70%;
    height: 300px;
    width: 460px;
    margin-top: 19px;
    border-radius: 10px;
    border: solid 0px var(--warnaungu);
  }
  
  .left-text {
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    display: block;
  }
  
  .left-text a {
    text-decoration: none;
    color: var(--warnaungu);
    font-weight: 700;
    font-size: 20px;
  }
  
  /* Main Article Box Right */
  .righ-box-direction {
    flex-direction: column;
    display: flex;
  }
  .main-box-right {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 15px;
    border: solid var(--warnaungu) 2px;
    height: 215px;
    object-fit: cover;
    width: 500px;
  }
  
  .main-box-right img {
    margin-top: 19px;
    margin: 19px;
    height: 171px;
    border-radius: 10px;
  }
  
  .right-text a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--warnaungu);
  }
  
  .right-text {
    margin-top: 19px;
    margin-right: 19px;
    margin-bottom: 19px;
    text-decoration: none;
  }
  
  /* Get To Know */
  .get-to-know {
    margin-top: 0px;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .get-to-know h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--warnaungu);
  }
  
  .get-to-know span {
    color: var(--warnaoren);
  }
  
  /* Insight */
  .insight-image {
    text-align: center;
  }
  
  .insight-image img {
    margin-top: 50px;
    height: 40px;
  }
  
  /* Daily Content */
  .box-daily {
    gap: 2%;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  
  .daily-content {
    margin-top: 20px;
  }
  
  .daily-content img {
    position: relative;
    width: 480px;
    height: 250px;
    border-radius: 40px;
  }
  
  .layer {
    padding-left: 19px;
    padding-right: 19px;
    word-wrap: break-word;
    text-align: center;
    margin-top: -80px;
    padding-top: 5px;
    position: absolute;
    border-radius: 0 0 40px 40px;
    opacity: 90%;
    width: 480px;
    height: 80px;
    background: var(--warnaabu);
  }
  
  .layer a {
    text-decoration: none;
    font-weight: 700;
    color: var(--warnaungu);
  }
  
  /* Footer */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0 0 0;
    padding: 20px 5% 20px 5%;
    background-color: #5a2f57;
    color: white;
  }
  
  .media-sosial a{
    margin-bottom: 0px;
    text-decoration: none;
    color: var(--warnaputih);
  }
  